# Ignore everything, except subdirectories
*

# These ones are cool, tho
!.gitignore
!README.md
!.tmux.conf
!.ghci
!.config/
!.config/nvim/
!.config/nvim/init.vim
!.config/nvim/snippets/
!.config/nvim/snippets/**
